<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.xz.dao.XzUserGoodsApplyDao">
	<insert id="insertApply" >
		insert into  xz_user_goods_apply
			(id,userId,goodsId,applyNumber,applyTime,applyDesc,status) 
		values(null,#{userId},#{goodsId},#{applyNumber},now(),#{applyDesc},0)
	</insert>

	<select id="findUncheckedApply" resultType="com.cy.pj.xz.vo.XzUserGoodsApplyVo">
		select a.*,g.name goodsName,t.name typeName,u.username userName,
				u.mobile userMobile,d.name deptName
		from xz_user_goods_apply a join xz_goods g join 
				xz_type t join sys_users u join sys_depts d
		on a.goodsId=g.id and g.typeId=t.id and a.userId=u.id and u.deptId=d.id
		where a.status=0	and a.userId=#{id}
	</select>
	
	
	<select id="findcheckedApply" resultType="com.cy.pj.xz.vo.XzUserGoodsApplyVo">
		select a.*,g.name goodsName,t.name typeName,u.username userName,
				u.mobile userMobile,d.name deptName,c.username checkName,c.mobile checkMobile
		from xz_user_goods_apply a join xz_goods g join 
				xz_type t join sys_users u join sys_depts d join sys_users c
		on a.goodsId=g.id and g.typeId=t.id and a.userId=u.id and u.deptId=d.id and a.checkId=c.id
		where (a.status=1 or a.status=-1) and a.userId=#{id}
	</select>
	
	
</mapper>