<!-- Horizontal Form -->
 <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">新申请</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
          
          <!-- <div class="form-group">
            <label for="parentId" class="col-sm-2 control-label">物品名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control load-sys-menu" readonly="readonly" id="parentId" placeholder="物品名称">
            </div>
          </div> -->
                          
          <div class="form-group">
            <label for="goodsType" class="col-sm-2 control-label">物品类别</label>
            <div class="col-sm-10">
              <select id="typeName" class="form-control">
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label for="goodsName" class="col-sm-2 control-label">物品名称</label>
            <div class="col-sm-10">
              <select id="goodsList" class="form-control">
              	 <option value="1">物品1 （余1）</option>
              	 <option value="2">物品2</option>
              	 <option value="3">物品3</option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label for="applyNum" class="col-sm-2 control-label">申请数目</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  id="applyNum" placeholder="申请数目" oninput = "value=value.replace(/[^\d]/g,'')">
            </div>
          </div>
          
          <div class="form-group">
			<label for="applyDesc" class="col-sm-2 control-label">申请描述</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"  id="applyDesc" placeholder="申请描述">
			</div>
		  </div>
		  
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="button" class="btn btn-default btn-cancel">Cancel</button>
          <button type="button" class="btn btn-info pull-right btn-save">Save</button>
        </div>
        <!-- /.box-footer -->
      </form>
      <!-- zTree 对应的div -->
      <div class="layui-layer layui-layer-page layui-layer-molv layer-anim" id="menuLayer" type="page" times="2" showtime="0" contype="object"
		style="z-index:59891016; width: 300px; height: 450px; top: 100px; left: 500px; display:none">
		<div class="layui-layer-title" style="cursor: move;">选择菜单</div>
		<div class="layui-layer-content" style="height: 358px;">
			<div style="padding: 10px;" class="layui-layer-wrap">
				<ul id="menuTree" class="ztree"></ul>    <!-- 动态加载树 -->
			</div>
		</div>
		<span class="layui-layer-setwin"> <a class="layui-layer-ico layui-layer-close layui-layer-close1 btn-cancel" ></a></span>
		<div class="layui-layer-btn layui-layer-btn-">
			<a class="layui-layer-btn0 btn-confirm">确定</a>
			<a class="layui-layer-btn1 btn-cancel">取消</a>
	     </div>
      </div>
  </div>
  <script type="text/javascript" src="bower_components/ztree/jquery.ztree.all.min.js"></script>
  <script type="text/javascript" src="bower_components/layer/layer.js">
  </script>
  <script type="text/javascript">

  $(function(){
	  $(".box-footer")
	  .on("click",".btn-cancel",doCancel)
	  .on("click",".btn-save",doSaveOrUpdate);

	  doGetGoodsType();
	  
	  $("#typeName").change(function(){
		  //alert($(this).val());
		  var typeId=$(this).val();
		  doGetSelectTypeGoods(typeId);
	  })
	  
	    $("#goodsList").change(function(){
	    	var option = $("#goodsList option:selected");
	    	var num=option.attr("title");
	    	$("#goodsList").data("countNum",num);
	  })
	  
  })
 
  function doGetGoodsType(){
	  $("#typeName").empty();
	  var url="apply/findAllTypes";
	  //debugger
	   $.get(url,"",function(result){
			  if(result.state==1){
				  doGetSelectTypes(result.data);				  
			  }else{
				  alert(result.message);
			  }
	  });
  }
  
  function doGetSelectTypes(rows){
	  var options="";
	  for(var i=0;i<rows.length;i++){
		  options+="<option value='"+rows[i].id+"'>"+rows[i].name+"</option>";
	  }
	  //alert(options);	  
	  $("#typeName").append($(options));
	  
	  //初次加载默认类别ID为1
	  var selectTypeId=1;
	  doGetSelectTypeGoods(selectTypeId);
  }
  
  function doGetSelectTypeGoods(typeId){
	  
	  $("#goodsList").empty();
	  
	  var url="apply/findGoods";
	  var param={"typeId":typeId};
	   $.get(url,param,function(result){
			  if(result.state==1){
				  doGetSelectGoods(result.data);				  
			  }else{
				  alert(result.message);
			  }
	  });
  }

  function doGetSelectGoods(rows){
	  var options="";
	  
	  if(rows.length<1){
		  options="<option value='0'>该类别暂无物品！</option>";
		  $("#goodsList").append($(options));
	  }
	  
	  for(var i=0;i<rows.length;i++){		
		  var num=rows[i].repertoryNumber-rows[i].occupiedNumber;
		  
		  options="<option value='"+rows[i].id+"' title='"+num+"'>"+rows[i].name+"&nbsp;&nbsp;(余"+num+"件)"+"</option>";
		  $("#goodsList").append($(options));
		  if(i==0){
			  $("#goodsList").data("countNum",num);
		  }
	  }
	  //alert(options);
  }
  
  //获取表单数据
  function doGetEditFormData(){
	  
	  var goodsId=$("#goodsList").val();
	  var countNumber=$("#goodsList").data("countNum");
	  var applyNumber=$("#applyNum").val();
	  var applyDesc=$("#applyDesc").val();
	  
	  //参数校验
	  if(goodsId=="0"){
		  alert("请选择物品!");
	  }
	  
	  if(applyNumber==""||applyDesc==""){
		  alert("申请数目与申请描述不能为空!");
	  }
	  
	  if(countNumber<applyNumber){
		  alert("选择数目超出库存，请重新选择！");
	  }
	  
	  //debugger
	  var params={
	    goodsId:goodsId,
		applyNumber:applyNumber,
		applyDesc:applyDesc,
	 }
	  return params;
  }
  
  function doSaveOrUpdate(){
	  //1.获取表单数据
	   var params=doGetEditFormData();
	  //2.异步提交表单数据(post)	 
	   var url="apply/doApply";

	    $.post(url,params,function(result){
			  if(result.state==1){
				  alert(result.message);
				  doCancel();
			  }else{
				  alert(result.message);
			  }
	  }); 
  }
  
  
  //编辑页面cancel事件处理
  function doCancel(){
	  //1.定义url
	  var url="xz/apply_list";
	  //2.异步加载列表页面
	  $("#mainContentId").load(url);
  }
  
 
  
  
 
 

 </script>
    
    
    
    
    
    
    
    
    